@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

$main-color: #5313ca;
$main-gradient: linear-gradient(135deg, $main-color, #00a2ff);
$border-width: 2px;

@keyframes huerotate {
    to {
        filter: hue-rotate(360deg);
    }
}

body {
    background: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#huerotate {
    animation: huerotate 5s infinite linear;
}

header {
    padding: 1em;

    h1 {
        text-align: center;
        background: $main-gradient;
        background-clip: text;
        color: transparent;
    }
}

form {
    margin: auto;
    width: clamp(500px, 50vw, 700px);

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li {
            padding: 1em;
            border: $border-width solid #fff;

            h2 {
                font-size: 0.9em;
                font-weight: 100;
                user-select: none;
                margin-bottom: 5px;
            }

            .question {
                font-weight: 600;
                font-style: italic;
                margin-bottom: 10px;

                &::before {
                    content: '→';
                    margin-right: 5px;
                }
            }

            .answers {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .answer {

                    &:has(input:checked) label {
                        border-color: #000;
                        background: $main-gradient;
                        color: #fff;
                    }

                    label {
                        display: block;
                        border: $border-width solid #fff;
                        padding: 5px 20px;
                        text-align: center;
                        transition: border 50ms linear;

                        &:hover {
                            border: $border-width solid $main-color;
                        }
                    }

                    input[type=radio],
                    input[type=checkbox] {
                        display: none;
                    }

                    .select-wrapper {
                        border: none;
                        background: #000;
                        color: #fff;
                        position: relative;

                        select {
                            width: 100%;
                            background: #000;
                            color: #fff;
                            border: $border-width solid #fff;
                            appearance: none;
                            padding: 5px 10px;
                            font-size: 0.9em;
                            outline: none;
                            transition: all 100ms linear;

                            &:hover,
                            &:focus {
                                border-color: $main-color;
                            }
                        }

                        &::after {
                            content: '▼';
                            pointer-events: none;
                            rotate: 180deg;
                            position: absolute;
                            right: 10px;
                            top: 5px;
                            color: #fff;
                            transition: rotate 150ms linear;
                        }

                        &:has(select:hover:focus)::after {
                            rotate: 0deg;
                        }
                    }

                    input[type=number] {
                        width: 100%;
                        padding: 5px 10px;
                        font-size: 0.9em;
                        border: $border-width solid #fff;
                        outline: none;
                        text-align: center;
                        caret-color: $main-color;
                        background: #000;
                        color: #fff;
                        transition: all 100ms linear;

                        &:hover,
                        &:focus {
                            border-color: $main-color;
                        }

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    #verify {
        margin-top: 2em;

        button {
            display: block;
            margin: auto;
            border: $border-width solid $main-color;
            background: #000;
            padding: 20px 30px;
            color: #fff;
            font-size: 1.3em;
            font-weight: 100;
            letter-spacing: 2px;
            transition: all 100ms linear;

            &:hover {
                background: $main-gradient;
                background-clip: text;
                color: transparent;
                border-color: white;
            }
        }
    }
}

div.chat {
    position: fixed;
    bottom: 1em;
    right: 1em;
    backdrop-filter: blur(10px);
    border: $border-width solid #fff;
    padding: 0.4em;
    transition: all 100ms ease-in-out;

    #chat-wrapper {
        display: none;
        padding-top: 0;
    }

    h2 {
        padding-left: 0.25em;
    }

    label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    input[type=checkbox] {
        display: none;
    }

    #chat-open {
        display: inline;
        padding: 5px;
    }

    #chat-close {
        display: none;
    }

    #chat-open,
    #chat-close {
        font-size: 1.9em;
        transition: color 100ms linear;
    }

    #chat-open:hover,
    #chat-close:hover {
        color: $main-color;
        animation: huerotate 5s infinite linear;
    }

    &:has(input[type=checkbox]:checked) {
        bottom: 2em;
        right: 2em;

        #chat-open {
            display: none;
        }

        #chat-close {
            display: inline;
        }

        #chat-wrapper {
            display: block;
        }
    }

    #chat-body {
        margin-top: 1.5em;
    }

    #messages {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 10%;
            background: linear-gradient(to bottom, #000, transparent);
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em;
        height: 300px;
        width: 340px;
        overflow-y: auto;
        scrollbar-width: none;

        li {
            padding: 0.5em;
            border: $border-width solid #fff;
            font-size: 0.9em;
            font-weight: 100;
            width: fit-content;
            max-width: 300px;

            &:nth-child(even) {
                align-self: flex-end;
            }
        }
    }

    #chat-write {
        border: $border-width solid #fff;
        padding: 0.3em;
        margin: 0.2em;
        margin-top: 0.4em;
        display: flex;
        gap: 5px;
        animation: huerotate 5s infinite linear;

        &:has(input:focus) {
            border-color: $main-color;
        }

        button {
            border: none;
            background: none;
            color: #fff;
            transition: color 100ms linear;

            &:hover {
                color: $main-color;
            }
        }

        input {
            border: none;
            background: none;
            color: #fff;
            outline: none;
            width: 100%;
            font-size: 1em;
            caret-color: $main-color;
        }
    }
}
