* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

$main-gradient: linear-gradient(135deg, #5313ca, #00a2ff);
$border-width: 2px;

@keyframes huerotate {
    to {
        filter: hue-rotate(360deg);
    }
}

body {
    background: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: huerotate 5s infinite linear;
}

header {
    padding: 1em;

    h1 {
        text-align: center;
        background: $main-gradient;
        background-clip: text;
        color: transparent;
    }
}

form {
    margin: auto;
    width: clamp(500px, 50vw, 700px);

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li {
            padding: 1em;
            border: $border-width solid #fff;

            h2 {
                font-size: 0.9em;
                font-weight: 100;
                user-select: none;
                margin-bottom: 5px;
            }

            .question {
                font-weight: 600;
                font-style: italic;
                margin-bottom: 10px;

                &::before {
                    content: '→';
                    margin-right: 5px;
                }
            }

            .answers {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .answer {

                    &:has(input:checked) label {
                        border-color: #000;
                        background: $main-gradient;
                        color: #fff;
                    }

                    label {
                        display: block;
                        border: $border-width solid #fff;
                        padding: 5px 20px;
                        text-align: center;
                        transition: border 50ms linear;

                        &:hover {
                            border: $border-width solid #5313ca;
                        }
                    }

                    input[type=radio],
                    input[type=checkbox] {
                        display: none;
                    }

                    .select-wrapper {
                        border: none;
                        background: #000;
                        color: #fff;
                        position: relative;

                        select {
                            width: 100%;
                            background: #000;
                            color: #fff;
                            border: $border-width solid #fff;
                            appearance: none;
                            padding: 5px 10px;
                            font-size: 0.9em;
                            outline: none;
                            transition: all 100ms linear;

                            &:hover, &:focus {
                                border-color: #5313ca;
                            }
                        }

                        &::after {
                            content: '▼';
                            pointer-events: none;
                            rotate: 180deg;
                            position: absolute;
                            right: 10px;
                            top: 5px;
                            color: #fff;
                            transition: rotate 150ms linear;
                        }

                        &:has(select:hover:focus)::after{
                            rotate: 0deg;
                        }
                    }

                    input[type=number] {
                        width: 100%;
                        padding: 5px 10px;
                        font-size: 0.9em;
                        border: $border-width solid #fff;
                        outline: none;
                        text-align: center;
                        caret-color: #5313ca;
                        background: #000;
                        color: #fff;
                        transition: all 100ms linear;

                        &:hover, &:focus {
                            border-color: #5313ca;
                        }

                        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                            appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    #verify {
        margin-top: 2em;

        button {
            display: block;
            margin: auto;
            border: $border-width solid #5313ca;
            background: #000;
            padding: 20px 30px;
            color: #fff;
            font-size: 1.3em;
            font-weight: 100;
            letter-spacing: 2px;
            transition: all 100ms linear;

            &:hover {
                background: $main-gradient;
                background-clip: text;
                color: transparent;
                border-color: white;
            }
        }
    }
}