@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes huerotate {
  to {
    filter: hue-rotate(360deg);
  }
}
body {
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#huerotate {
  animation: huerotate 5s infinite linear;
}

header {
  padding: 1em;
}
header h1 {
  text-align: center;
  background: linear-gradient(135deg, #5313ca, #00a2ff);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

form {
  margin: auto;
  width: clamp(500px, 50vw, 700px);
}
form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
form ul li {
  padding: 1em;
  border: 2px solid #fff;
}
form ul li h2 {
  font-size: 0.9em;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 5px;
}
form ul li .question {
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}
form ul li .question::before {
  content: "→";
  margin-right: 5px;
}
form ul li .answers {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form ul li .answers .answer:has(input:checked) label {
  border-color: #000;
  background: linear-gradient(135deg, #5313ca, #00a2ff);
  color: #fff;
}
form ul li .answers .answer label {
  display: block;
  border: 2px solid #fff;
  padding: 5px 20px;
  text-align: center;
  transition: border 50ms linear;
}
form ul li .answers .answer label:hover {
  border: 2px solid #5313ca;
}
form ul li .answers .answer input[type=radio],
form ul li .answers .answer input[type=checkbox] {
  display: none;
}
form ul li .answers .answer .select-wrapper {
  border: none;
  background: #000;
  color: #fff;
  position: relative;
}
form ul li .answers .answer .select-wrapper select {
  width: 100%;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px;
  font-size: 0.9em;
  outline: none;
  transition: all 100ms linear;
}
form ul li .answers .answer .select-wrapper select:hover, form ul li .answers .answer .select-wrapper select:focus {
  border-color: #5313ca;
}
form ul li .answers .answer .select-wrapper::after {
  content: "▼";
  pointer-events: none;
  rotate: 180deg;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
  transition: rotate 150ms linear;
}
form ul li .answers .answer .select-wrapper:has(select:hover:focus)::after {
  rotate: 0deg;
}
form ul li .answers .answer input[type=number] {
  width: 100%;
  padding: 5px 10px;
  font-size: 0.9em;
  border: 2px solid #fff;
  outline: none;
  text-align: center;
  caret-color: #5313ca;
  background: #000;
  color: #fff;
  transition: all 100ms linear;
}
form ul li .answers .answer input[type=number]:hover, form ul li .answers .answer input[type=number]:focus {
  border-color: #5313ca;
}
form ul li .answers .answer input[type=number]::-webkit-inner-spin-button, form ul li .answers .answer input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
form #verify {
  margin-top: 2em;
}
form #verify button {
  display: block;
  margin: auto;
  border: 2px solid #5313ca;
  background: #000;
  padding: 20px 30px;
  color: #fff;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: 2px;
  transition: all 100ms linear;
}
form #verify button:hover {
  background: linear-gradient(135deg, #5313ca, #00a2ff);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  border-color: white;
}

div.chat {
  position: fixed;
  bottom: 1em;
  right: 1em;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid #fff;
  padding: 0.4em;
  transition: all 100ms ease-in-out;
}
div.chat #chat-wrapper {
  display: none;
  padding-top: 0;
}
div.chat h2 {
  padding-left: 0.25em;
}
div.chat label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
div.chat input[type=checkbox] {
  display: none;
}
div.chat #chat-open {
  display: inline;
  padding: 5px;
}
div.chat #chat-close {
  display: none;
}
div.chat #chat-open,
div.chat #chat-close {
  font-size: 1.9em;
  transition: color 100ms linear;
}
div.chat #chat-open:hover,
div.chat #chat-close:hover {
  color: #5313ca;
  animation: huerotate 5s infinite linear;
}
div.chat:has(input[type=checkbox]:checked) {
  bottom: 2em;
  right: 2em;
}
div.chat:has(input[type=checkbox]:checked) #chat-open {
  display: none;
}
div.chat:has(input[type=checkbox]:checked) #chat-close {
  display: inline;
}
div.chat:has(input[type=checkbox]:checked) #chat-wrapper {
  display: block;
}
div.chat #chat-body {
  margin-top: 1.5em;
}
div.chat #messages {
  position: relative;
}
div.chat #messages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, #000, transparent);
}
div.chat ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  height: 300px;
  width: 340px;
  overflow-y: auto;
  scrollbar-width: none;
}
div.chat ul li {
  padding: 0.5em;
  border: 2px solid #fff;
  font-size: 0.9em;
  font-weight: 100;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
}
div.chat ul li:nth-child(even) {
  align-self: flex-end;
}
div.chat #chat-write {
  border: 2px solid #fff;
  padding: 0.3em;
  margin: 0.2em;
  margin-top: 0.4em;
  display: flex;
  gap: 5px;
  animation: huerotate 5s infinite linear;
}
div.chat #chat-write:has(input:focus) {
  border-color: #5313ca;
}
div.chat #chat-write button {
  border: none;
  background: none;
  color: #fff;
  transition: color 100ms linear;
}
div.chat #chat-write button:hover {
  color: #5313ca;
}
div.chat #chat-write input {
  border: none;
  background: none;
  color: #fff;
  outline: none;
  width: 100%;
  font-size: 1em;
  caret-color: #5313ca;
}