@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes huerotate {
  to {
    filter: hue-rotate(360deg);
  }
}
body {
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: huerotate 5s infinite linear;
}

header {
  padding: 1em;
}
header h1 {
  text-align: center;
  background: linear-gradient(to right, #5313ca, #00a2ff);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

form {
  margin: auto;
  width: clamp(500px, 50vw, 700px);
}
form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
form ul li {
  padding: 1em;
  border: 2px solid #fff;
}
form ul li h2 {
  font-size: 0.9em;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 5px;
}
form ul li .question {
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}
form ul li .question::before {
  content: "→";
  margin-right: 5px;
}
form ul li .answers {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form ul li .answers .answer:has(input:checked) label {
  border-color: #000;
  background: linear-gradient(to right, #5313ca, #00a2ff);
  color: #fff;
}
form ul li .answers .answer label {
  display: block;
  border: 2px solid #fff;
  padding: 5px 20px;
  text-align: center;
  transition: border 50ms linear;
}
form ul li .answers .answer label:hover {
  border: 2px solid #5313ca;
}
form ul li .answers .answer input[type=radio],
form ul li .answers .answer input[type=checkbox] {
  display: none;
}
form ul li .answers .answer .select-wrapper {
  border: 2px solid #5313ca;
  background: #000;
  color: #fff;
  position: relative;
}
form ul li .answers .answer .select-wrapper select {
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px;
  font-size: 0.9em;
  outline: none;
}
form ul li .answers .answer .select-wrapper::after {
  content: "▼";
  pointer-events: none;
  rotate: 180deg;
  position: absolute;
  right: 10px;
  top: 2px;
  color: #fff;
  transition: rotate 150ms linear;
}
form ul li .answers .answer .select-wrapper:has(select:hover:focus)::after {
  rotate: 0deg;
}
form ul li .answers .answer input[type=number] {
  width: 100%;
  padding: 5px 10px;
  font-size: 0.9em;
  border: 2px solid #5313ca;
  outline: none;
  text-align: center;
  caret-color: #5313ca;
}
form ul li .answers .answer input[type=number]::-webkit-inner-spin-button, form ul li .answers .answer input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}